/*main body*/
.cv-material h1{
		text-transform: uppercase;
		color: white;
		justify-content: center;
		align-items: center;
		display: flex;
		padding: 2px;
		margin-top: 3em;
		font-family:Zapf Chancery, cursive; 
		font-size:45px;
		background-color: grey;
		box-shadow: 2px 0px 1px 3px rgba(50,50,50,0.87);
		-webkit-text-stroke: 0.3vw black;

		}

	.info{
		width: 100%;
		margin-top: 5px; 
		padding: 20px;
		border:2px lightblue solid;
		justify-content: space-around;
		background: grey;
	}

	
.info a{
	text-align: left;
	margin-top: 1.2em;
	font-size: 1.2em;
	width: 40em;
	padding: 3em;

}

.info h2{
	text-transform: uppercase;
	font-family: times new roman;
	font-size: 1.2em;
	font-weight: lighter;
	color: black;
}

.info p{
	font-family: times new roman;
	text-align: left;
}


/*Profle picture*/
.profile-picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-picture img{
	width: 15em;
	height: 15em;
	margin-top: 1%;
	box-shadow: 2px 0px 15px 1px rgba(50,50,50,0.87);
}

.columns{
	box-shadow:2px 0px 15px 0px rgba(50,50,50,0.87);
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-self: center;
	flex-direction: row;
	margin-top: 5%;
	width: 100%;
	padding:20px;
	font-size: 1.1em;
	background-color: grey;
	border:2px lightblue solid;
	margin-bottom: 5%;
}

.columns h3{
	text-transform: uppercase;
	font-family:times new roman;
	text-decoration: underline;
	color: black;
}

.columns ul{
	font-family: times new roman;
	column-count: 3;
	column-gap:50px;
	column-rule-style: solid;
	column-rule-width: 2px;
	column-rule-color: lightblue;
	float: left;
	list-style: none;
}

/*Responsive page*/
@media(max-width:800px){


.cv-material{
	display: flex;
	color:black;
	min-height: 80%;
	flex-direction: column;
}

.cv-material{
	justify-content: space-between;
}

	.cv-material h1 {
		font-size: 1.2em;
		margin-top: 5.5em;
	}

	.profile-picture img{
		margin-top: 2%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 0%;
	}

	.info{
		margin: 10px;
		width: 100%;
		height: auto;
	
	}

	
	.info a{	
		font-size: 0.5em;
		width: 320px;
		margin:20em;
		padding:0;
	}

	.info a h2{
		font-size: 25px;
		margin-top: 0.1em;

	}

	.info a p{
		font-size: 20px;
	}

.columns{
		flex-direction: column-reverse;
		width: 110%;
		height: 250px;
		padding: 0.5px;
		margin: 5px;
	}

.columns ul{
	font-size: 17px;
	flex-direction: row;
	padding: 15px;

}

.columns ul li{

flex-direction: row;
padding: 1px;

}
}