/*main body layout*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{
	width: 100%;
	font-family: 'Arial',sans-serif;
}

/*navigation bar*/
nav{
	width: 100%;
	background: grey;
	color: black;
	display: flex;
	background-position: center;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}

nav .mainMenu{
	list-style-type: none;
	list-style-type: none;

	display: flex;
	list-style: none;
}

nav .mainMenu a{
	display: inline-block;
	padding: 15px;
	font-family: cursive;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 1000;
	color: black;
	font-size: 19px;

}

nav .mainMenu a:hover {
	background:white;
}

nav .openMenu{
	font-size: 2rem;
	display: none;
	cursor: pointer;
}

nav .closeMenu{
	display: none;
}

nav .mainMenu .closeMenu{
	list-style-type: none;
	justify-content: right;
	font-size: 2rem;
	display: none;
	cursor: pointer;

}
/*nagivation bar logo*/
nav .logo{
	margin: 10px;
	cursor: pointer;
}

.logo{
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 3px;
	width: 120px;
	position: relative;
}


/*main body contents*/
.container{
	background-image: url(photos/background-image.JPG);
	background-size: cover;
	background-position:center;
	width: 100%;
	min-height: 100vh;
 	padding-left: 10%;
	padding-right: 10%;
	overflow: hidden;
	box-sizing: border-box;
}

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 100px 0px;
}

.col-1{
	flex-basis: 40%;
	position: relative;
	margin-left: 40px;
}

.col-1 h2{

font-size: 45px;
font-family: Zapf Chancery, cursive;
text-transform: uppercase;
color:white;
-webkit-text-stroke: 0.3vw black;

}

.col-1 h3{
font-family: Brush Script MT;
font-size: 30px;
color: linear-gradient(grey,white);
font-weight: 100;
margin: 0px 0 0px;
color: white;
}

.col-1 p{
	font-size: 16px;
	color: white;
	font-weight: 100;
	font-family:Parkavenue, cursive;
}

a{
	text-decoration: none;
	transition: .3s;

}
/*button*/
.button{
	font-family:Bookman, serif;
	width: 100px;
	border: 0;
	padding: 12px;
	color: white;
	background: silver;
	border-radius:5px;
	cursor: pointer;
	border-radius:40px 40px 40px 40px;
	transition:1s;


}


.button img{
	width: 20px;
	display: none;
}

.button:hover img {
	display: block;
}

.button:hover{
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.col-1:after {
	content: '';
	width: 15px;
	height: 100%;
	background: linear-gradient(green,red,yellow);
	position: absolute;
	left: -100px;
	top: 8px;
}

.col-2 {
	position: relative;
	flex-basis: 60%;
	display: flex;
	align-items: center;

}

.col-2 .one{
	z-index: 2;
	width: 90%;
	border-radius:40px 40px 40px 40px;
}

/*color box*/
.color-box{
	position: absolute;
	right: 0;
	top: 10;
	background: linear-gradient(green,red,yellow);
	border-radius:40px 0 0 40px;
	height: 120%;
	width: 80%;
	z-index: 1;
	transform: translateX(150px);
}

/*Footer*/
.footer{
	width: 100%;
	background-color: grey;
}

/*hyperlinked icons*/
.social-links {	
	padding: 20px;
	height: 100%;
	background-color: grey;
	text-align: center;
}

.social-links h4{
	text-align: center;
	font-family: Bookman, serif;
}

.social-links img{
	height: 20px;
	margin: 40px;
	cursor: pointer;
}

/*Responsive Page*/
@media(max-width:800px)
{
	
nav .mainMenu{
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: grey;
	transition: top 1s ease;
	display: none;
}

nav .mainMenu .closeMenu{
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
}

nav .openMenu{
	display: block;
}

nav .openMenu:hover{
	color: white;
}

	.container{
		max-width: 100%;	
	}
	
	
	.row{
		flex-direction: column-reverse;
		margin: 50px 0;
	}

	.col-2{
		flex-basis: 100%;
		margin-bottom: 50px;
	}

	.col-2 .one{
		width: 77%;
	}

	.color-box{
		transform: translateX(75px);
	}

	.col-1{
		flex-basis: 100%;
	}

	.col-1 h2{
		flex-size: 35px;
	}

	.col-1 h3{
		flex-size: 15px;
		color: black;
	}

	.col-1 p{
		color: black;
	}

	.footer{
	width: 100%;
	flex: inline;
	}
	.social-links 
	{
		width: 100%;
		background: grey;
		position: relative;
		flex-size:10px;
	}	

	.social-links h4{
		flex: 15px;
	}

.button{
	font-family:Bookman, serif;
	width: 100px;
	border: 0;
	padding: 12px;
	color: white;
	background: silver;
	border-radius:5px;
	cursor: pointer;
	border-radius:40px 40px 40px 40px;
	transition:4s;


}


.button img{
	width: 20px;
	display: none;
}

.button:hover img {
	display: block;
}

}